<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768793586061-iq9sgkilq1esqhvg39e1880gm6ti4lve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768793586061-iq9sgkilq1esqhvg39e1880gm6ti4lve</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768793586061-8coh1uvg6gsr7th8utv1n1nokd87a1ch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsuKQ9CjMHlCYIHaJQzgbszakxGUnt2p4</string>
	<key>GCM_SENDER_ID</key>
	<string>768793586061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elfa.ios</string>
	<key>PROJECT_ID</key>
	<string>elearner-for-all</string>
	<key>STORAGE_BUCKET</key>
	<string>elearner-for-all.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768793586061:ios:f160a80cf15ad4e6f7b5c4</string>
</dict>
</plist>